* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
body {
  background:#094193;
}
/*nav {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-block: 30px;
}
nav .brand-title {
  color: #f90;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}
nav .nav-items {
  display: flex;
  justify-content: space-between;
}
nav .nav-items > li {
  list-style: none;
}
nav .nav-items li a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  padding: 10px;
}
nav .nav-items li a:hover {
  color: #f90;
} */

section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

section .social-icons {
  position: fixed;
}
section .content {
  margin-left: 10%;
  margin-top: 2%;

}
section .content .content-title {
  color: #fff;
  padding-block: 30px;
}
section .content .box-container {
  border-radius: 7px;
  border: 1px solid #fff;
  background: rgba(217, 217, 217, 0.05);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 25px;
  margin-top: 20px;
}
section .content .box-container .top {
  display: flex;
}
section .content .box-container .top button {
  padding: 6px 20px;
  margin: auto 5px;
  color: black;
  border-radius: 10px;
}
button,
i {
  cursor: pointer;
}
.btn-primary {
  background-color: #f90;
}
.btn-secondary {
  background-color: #00ffff;
}
.btn-round {
  padding: 0 !important;
  padding: 5px 12px !important;
  border-radius: 50% !important;
}
section .content .data {
  padding: 10px;
  color: white;
}
section .content .data table th,
section .content .data table td {
  padding: 15px;
  text-align: center;
}
.logo{
  color: #f90;
}
.icon-primary {
  color: #f90;
  font-size: 10px;
}
.icon-danger {
  color: red;
  font-size: 20px;
}

.box-container form p {
  color: white;
  padding: 10px;
  font-size: medium;
}
.box-container .form-control {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-container .form-control input {
  border: none;
  background: none;
  border-bottom: 2px solid #fff;
  padding: 5px;
  color: #fff;
}
.box-container textarea {
  background: none;
  border: 2px solid #fff;
  margin-top: 10px;
  color: #fff;
  padding: 10px;
}
.box-container .send-button {
  padding: 6px 15px;
  background-color: #f90;
  border: none;
  border-radius: 10px;
}

h1 {
  color: white;
}
section .comments {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 60%;
  font-weight: 200;
}
section .comment {
  color: white;
  display: flex;
  padding-block: 10px;
  
}
.comments .comment img {
  width: 50px;
  height: 20px;
  margin: 5px;
}
