
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
  body {
    background-color: #094193;
    width: 100%;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    align-items: center;
  }
  .logo {
    position: relative;
    font-size: 40px;
    text-decoration: none;
    color: orange;
    font-weight: 600;
  }
  .navbar a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.5s;
  }
  .navbar a:hover {
    color: orange;
  }
  .about-content {
    max-width: 80%;
    height: 80vh;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .about-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin-top: 50px;
  }
  .about-icons a {
    width: 30px;
    height: 80px;
    border-radius: 50%;
    font-size: 20px;
    color: orange;
    text-decoration: none;
  }
  .one {
    border-left: 2px solid white;
    height: 500px;
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .two {
    border-left: 2px solid white;
    height: 400px;
    margin-left: 10px;
   
  }
  .copy {
    color: #fff; 
    padding-bottom: 120px;
    margin-left: 6px; 
  }
  .about{
    display: flex;
    flex-direction: row; 
    align-content: center;
    justify-content: space-between;
    width: 100%;
  } 
.skills {
    display: flex;
    justify-content: space-between;
    flex-direction:column;
    text-align: center;
    padding: 10px;
    width: 80%;

  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: start;
     gap: 10px; 
      background:#fff;
      border-radius: 10px;
      margin-bottom: 90PX;
     
  }

  .active {
    color:orange !important;
  }
  h3{
    margin-bottom: 50PX;
    color: #fff;
  }
  .skill {
    text-align: start;
    border-radius: 5px;
    box-shadow: 1px -1px 3px 3px rgba(0,0,0,0.1);padding: 5px;
    width: 24%;
  }
  .skill img{
    width: 40px;
    height:40px
  }
  .skill .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
  
      
  }
  input ,p{
      margin: 0; 
  }
